// errors array passed from 'users.js' and 'polls.js'
if errors
	each val in errors
		.error-message= val

// both are for flash messaging
if success_msg
	each val in success_msg
		.success-message #{success_msg}
		
if error_msg
	each val in error_msg
		.error-message #{error_msg}