doctype html
html
	head
		title The Poll Collection
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin|Roboto")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/home.css")
	body
		include ./partials/_navbar
		
		h1#page-lead Check out our most recent polls...
		
		if polls.length > 0
			#recent-polls

				each value, index in polls
					.poll
						p.poll-title #{value.title}
						a(href="/polls/" + value.id).poll-link View poll &#187;

			a(href="/polls/all")#all-polls View all polls
			
		else
			h1#page-lead No polls have been created yet.
			