doctype html
html
	head
		title The Poll Collection
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin|Open+Sans+Condensed:300|Roboto")
		link(rel="stylesheet" href="/css/index.css")
	body
		#cover
		
		footer
			h1#logo
				| The Poll Collection |
				span#logo-tagline  Make your voice heard
				
			a(href="/home")#enter-site View currently active polls &#187;