doctype html
html
	head
		title The Poll Collection
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin|Roboto")
		link(rel="stylesheet" href="/css/newpoll.css")
	body
		include ./partials/_navbar
		
		h1#page-lead Create a new poll
		
		hr
		
		#newpoll-flex-container
			include ./partials/_messages
		
			form(action="/polls/newpoll" method="POST")#newpoll-form
				.form-group
					label(for="title") The poll title
					input(type="text" name="title" value=title required)
				
				.form-group
					label(for="options") Poll options (separated with ";")
					textarea(name="options" required)#options #{options}
				
				input(type="submit")