* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, h1 {
  margin: 0;
  padding: 0; }

hr {
  margin: 0 0 0 20px;
  width: calc(100vw - 40px);
  border-color: #E4E4E4; }

#page-lead {
  margin: 50px 20px 0 0;
  font-family: Segoe UI, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  color: #444; }

#navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
  background: #006185; }
  #navbar #navbar-logo {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: #F2F3F4; }
  #navbar #navbar-links {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #navbar #navbar-links a {
      margin: 0 10px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: #F2F3F4; }
      #navbar #navbar-links a:nth-child(3) {
        margin-right: 0px; }

.poll:nth-child(even) {
  background: #CB3A48; }
  .poll:nth-child(even):hover {
    background: #AB1D2B; }

.poll:nth-child(odd) {
  background: #006185; }
  .poll:nth-child(odd):hover {
    background: #004C69; }

#allpolls-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 20px; }
  #allpolls-flex-container h4 {
    margin-left: 20px;
    font-family: Segoe UI, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: #555; }
  #allpolls-flex-container .poll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Segoe UI, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #allpolls-flex-container .poll .poll-title {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: #F2F3F4; }
    #allpolls-flex-container .poll .poll-link {
      margin-top: 20px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      font-size: 14px;
      text-decoration: none;
      color: #ccc;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #allpolls-flex-container .poll .poll-link:hover {
        color: #eee; }
